@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

.text_pages{
  font-family:"Gowun Batang", serif;
  font-weight:400;
  font-size: 16px;
}






